<!doctype html>
<!-- placeholder for project creation page -->

<html>
<head>
  <title>HCI Project</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/datepicker.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/createtask.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body style="padding-top:65px;">
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!--<span class="navbar-brand"><a href="/">&laquo; Back</a></span>-->
        {{#if taskedit}}
        <span class="navbar-brand" style="float:right;">Edit Task</span>
        {{else}}
          {{#if meetingedit}}
          <span class="navbar-brand" style="float:right;">Edit Meeting</span>
          {{else}}
          <span class="navbar-brand" style="float:right;">Create Task/Meeting</span>
          {{/if}}
        {{/if}}
      </div>
    </nav>

    <div>
      {{#if create}}
      <label class="radio-inline">
        <input type="radio" name="taskmeeting" id="taskRadio" value="task" checked>
        Task
      </label>
      <label class="radio-inline">
        <input type="radio" name="taskmeeting" id="meetingRadio" value="meeting">
        Meeting        
      </label>
      {{/if}}
    </div>

    {{#if meetingedit}}
    <div id="createMeeting">
    {{else}}
    <div id="createMeeting" style="display:none;">
    {{/if}}
      <form method="post" action="/create/meeting">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <div class="form-group">
          <label>name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="name" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label>date</label>
          <input type="text" id="duedate" name="duedate" class="form-control datepicker" placeholder="select a date" value="{{date}}" readonly="true" required>
        </div>
        <div class="form-group">
          <input type="hidden" id="hour" value="{{hour}}">
          <input type="hidden" id="min" value="{{min}}">
          <label>time</label><br/>
          <select id="meeting-hour" name="hour" value="04">
            <option value="00">0</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
          </select>
          :
          <select id="meeting-min" name="min">
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
        </div>
        <div class="form-group">
          <label>notes</label>
          <textarea type="text" id="notes" name="notes" class="form-control" placeholder="notes">{{notes}}</textarea>
        </div>
        <div class="form-group">
          <label>attendees</label>
          <br/>
          {{#each project_members}}
            <input class="attendee_checkbox" type="checkbox" value="{{this}}">
            <span style="margin-right:5px;">{{this}}</span>
          {{/each}}
          <input type="hidden" id="attendees" name="attendees" class="form-control" placeholder="(ex, john,tyler,mark)" value="{{members}}">
          <input type="hidden" id="projecId" name="projectId" value="{{projectId}}">
        </div>

        <div class="form-group">
          <a class="btn btn-default" href="/projects/{{projectId}}">Cancel</a>
          {{#if create}}
          <button type="submit" class="btn btn-info">Create</button>
          {{else}}
          <button type="submit" class="btn btn-info">Save</button>
          <button id="{{_id}}" style="float:right;" class="btn btn-danger delete-meeting-btn">Delete</button>
          {{/if}}
        </div>
      </form>
    </div>

    {{#if meetingedit}}
    <div id="createTask" style="display:none;">
    {{else}}
    <div id="createTask">
    {{/if}}
      <form method="post" action="/create/task">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <div class="form-group">
          <label>name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="name" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label>due date</label>
          <input type="text" id="duedate" name="duedate" class="form-control datepicker" placeholder="select a date" value="{{dueDate}}" readonly="true" required>
        </div>
        <div class="form-group">
          <label>notes</label>
          <textarea type="text" id="notes" name="notes" class="form-control" placeholder="notes">{{notes}}</textarea>
        </div>
        <div class="form-group">
          <label>checklist (max # 5)</label>
          <div style="float:right; margin-bottom:5px;">
            <a id="rmv_item" class="btn btn-sm btn-default">remove</a>
            <a id="add_item" class="btn btn-sm btn-info">add item</a>
          </div>
          <div id="st1" class="checklist_items">
            <input type="text" id="subtask1" name="subtask1" class="form-control" placeholder="item 1" value="{{item1.name}}"></input>
            <input type="text" id="duration1" name="duration1" class="form-control" placeholder="est time in hour" value="{{item1.duration}}"/>
            assign item 1 to
            <input type="hidden" id="assigned1" name="assigned1" class="form-control" placeholder="ex) john, tyler" value="{{item1.members}}">
            {{#each project_members}}
              <input class="assignee_checkbox1" type="checkbox" value="{{this}}">
              <span style="margin-right:5px;">{{this}}</span>
            {{/each}}
            <br/>
          </div>
          {{#if item2}}
          <div id="st2" class="checklist_items">
          {{else}}
          <div id="st2" style="display:none;" class="checklist_items">
          {{/if}}
            <input type="text" id="subtask2" name="subtask2" class="form-control" placeholder="item 2" value="{{item2.name}}"></input>
            <input type="text" id="duration2" name="duration2" class="form-control" placeholder="est time in hour" value="{{item2.duration}}"/>
            assign item 2 to
            <input type="hidden" id="assigned2" name="assigned2" class="form-control" placeholder="ex) john, tyler" value="{{item2.members}}">
            {{#each project_members}}
              <input class="assignee_checkbox2" type="checkbox" value="{{this}}">
              <span style="margin-right:5px;">{{this}}</span>
            {{/each}}
            <br/>
          </div>
          {{#if item3}}
          <div id="st3" class="checklist_items">
          {{else}}
          <div id="st3" style="display:none;" class="checklist_items">
          {{/if}}
            <input type="text" id="subtask3" name="subtask3" class="form-control" placeholder="item 3" value="{{item3.name}}"></input>
            <input type="text" id="duration3" name="duration3" class="form-control" placeholder="est time in hour" value="{{item3.duration}}">
            assign item 3 to
            <input type="hidden" id="assigned3" name="assigned3" class="form-control" placeholder="ex) john, tyler" value="{{item3.members}}"/>
            {{#each project_members}}
              <input class="assignee_checkbox3" type="checkbox" value="{{this}}">
              <span style="margin-right:5px;">{{this}}</span>
            {{/each}}
            <br/>
          </div>
          {{#if item4}}
          <div id="st4" class="checklist_items">
          {{else}}
          <div id="st4" style="display:none;" class="checklist_items">
          {{/if}}
            <input type="text" id="subtask4" name="subtask4" class="form-control" placeholder="item 4" value="{{item4.name}}"></input>
            <input type="text" id="duration4" name="duration4" class="form-control" placeholder="est time in hour" value="{{item4.duration}}">
            assign item 4 to
            <input type="hidden" id="assigned4" name="assigned4" class="form-control" placeholder="ex) john, tyler" value="{{item4.members}}">
            {{#each project_members}}
              <input class="assignee_checkbox4" type="checkbox" value="{{this}}">
              <span style="margin-right:5px;">{{this}}</span>
            {{/each}}
            <br/>
          </div>
          {{#if item5}}
          <div id="st5" class="checklist_items">
          {{else}}
          <div id="st5" style="display:none;" class="checklist_items">
          {{/if}}
            <input type="text" id="subtask5" name="subtask5" class="form-control" placeholder="item 5" value="{{item5.name}}"></input>
            <input type="text" id="duration5" name="duration5" class="form-control" placeholder="est time in hour" value="{{item5.duration}}">
            assign item 5 to
            <input type="hidden" id="assigned5" name="assigned5" class="form-control" placeholder="ex) john, tyler" value="{{item5.members}}">
            {{#each project_members}}
              <input class="assignee_checkbox5" type="checkbox" value="{{this}}">
              <span style="margin-right:5px;">{{this}}</span>
            {{/each}}
          </div>

          <input type="hidden" id="projecId" name="projectId" value="{{projectId}}">
        </div>

        <div class="form-group">
          <a class="btn btn-default" href="/projects/{{projectId}}">Cancel</a>
          {{#if create}}
          <button type="submit" class="btn btn-info">Create</button>
          {{else}}
          <button type="submit" class="btn btn-info">Save</button>          
          <button id="{{_id}}" style="float:right;" class="btn btn-danger delete-task-btn">Delete</button>
          {{/if}}
        </div>
      </form>
    </div>

  </div>

  <!--<script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/createtask.js"></script>
  <script>
    $('.datepicker').datepicker();
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48456936-2', 'cs147-complete.herokuapp.com');
    //ga('create', 'UA-48456936-2', {'cookieDomain':'none'});
    ga('send', 'pageview');

  </script>
</body>
</html>
