<!DOCTYPE html>
<html>
<head>
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
  k='82880866-1',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
  <title>My Agenda</title>
  <!-- no zooming on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/agenda.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/fonts.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body>
  <!-- this is a comment in HTML -->
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
   
    {{#if user_id}}
    
    {{>ABnavbar}}

    {{#if alternative}}
    <h3 class="page-header">Hi, {{username}}! Check out your agenda below</h3>
      {{#if hasNothing}}
        <div class="empty_info">
          <h5>Your agenda is empty! To get started, visit your Projects page to create a new project or manage an existing one!</h5>
          {{#if first_time}}
          <button type="button" class="btn btn-lg btn-primary btn-block original-btn" id="/projects">Visit My Projects Page</button>
          {{else}}
          <button type="button" class="btn btn-lg btn-primary btn-block">Visit My Projects Page</button>
          {{/if}}
        </div>
      {{else}}
        {{>agenda}}
      {{/if}}

    {{else}}

    <h3 class="page-header">Hi, {{username}}! Check out your agenda below</h3>
    {{>agenda}}
    {{/if}}

    {{else}}

    <div class="jumbotron" style="margin-top:20px;">
      <h1>Complete</h1>
      <p>Manage your group projects with Complete!</p>
    </div> 

    <div id="sign_in_page">
      <form class="form-horizontal" role="form" method="post" action="/login">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input name="username" type="text" class="form-control" id="inputEmail3" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
            <a class="btn btn-warning" id="sign-up-btn" style="float:right">New User?</a>
          </div>
        </div>
      </form>
      <p><a id="sign-up-button">Click here</a> to sign up</p>
    </div>

    <div id="sign_up_page" style="display:none;">
      <div class = "help-document">
        <h3>[About]</h3>
        <p>This application is developed to make the process of tracking the completion of group projects easier. Each project contains of tasks and meetings.</p>
        <h4>[Tasks]</h4>
        <p>Tasks are the major components of projects which are the lists of general items to be completed for the project to be finished. Each task has checklists which decomposes the task to smaller, doable segments and when all of the checklists for a task are completed, the task is completed, Each checklist item is assigned to members of the project and only the members assigned the item can check it as completed.</p>
        <h4>[Meetings]</h4>
        <p>Meetings are a way the members of the project can get together and check their progress face-to-face.</p>
        <h4>[My Agenda]</h4>
        <p>The first screen that appears when logging in is the My Agenda page, where all the checklists and meetings associated with the user appear. This way, the user can keep up with many projects without forgetting a responsibility.</p>
      </div>
      <form class="form-horizontal" role="form" method="post" action="/create_user">   
        <h3>Sign up</h3>
        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">Full Name</label>
          <div class="col-sm-10">
            <input name="fullname" type="text" class="form-control" id="inputEmail3" placeholder="Full Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input name="username" type="text" class="form-control" id="inputEmail3" placeholder="Username" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password" required> 
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create</button>
          </div>

        </div>
      </form>
      <p><a id="sign-in-button">Click here</a> to log in</p>
    </div>
    {{/if}}
  </div>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--<script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="/js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/agenda.js"></script>
  {{#if first_time}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //ga('create', 'UA-48456936-2', 'cs147-complete.herokuapp.com');
    ga('create', 'UA-48456936-2', {'cookieDomain':'none'});
    ga('send', 'pageview');

  </script>
  {{/if}}
</body>
</html>
