<!DOCTYPE html>
<html>
  <head>
    <title>My Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/projects.css" rel="stylesheet">
    <link href="/css/agenda.css" rel="stylesheet">
    <link href="/css/fonts.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<!-- this is a comment in HTML -->
	<div class="container">
		
    {{>navbar}}

    <h3 class="page-header">{{pageName}}</h3>

    <div class="projects">
      {{#if title_clickable}}
      {{#each projects}}
        <div id="{{_id}}" class="project">
          <span class="project_title_clickable" id="/projects/{{_id}}">{{name}} &raquo;</span><br/>
          <div class="duedate_title">Due Date</div><span class="duedate_text">{{dueDate}}</span>
          <div id="{{_id}}" class="detail-button">see details &raquo;</div>
          <div class="more_info" id="{{_id}}">
            <div class="description" id="{{_id}}">
              <div class="description_title">Description</div>
              <div class="description_text">{{description}}</div>
            </div>
            <div class="members" id="{{_id}}">
              <div class="members_title">Members</div>
              <div class="members_text">{{members}}</div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="empty_info">
          <h5>Welcome to your Projects Page. Try creating a new project to get started.</h5>
          <button type="button" class="btn btn-lg btn-primary" id="/projects/create">Create Project</button>
        </div>
      {{/each}}
      {{else}}
      {{#each projects}}
        <div id="{{_id}}" class="project">
          <span class="project_title" id="/projects/{{_id}}">{{name}}</span><br/>
          <div class="duedate_title">Due Date</div><span class="duedate_text">{{dueDate}}</span>
          <div id="{{_id}}" class="detail-button">see details &raquo;</div>
          <div class="more_info" id="{{_id}}">
            <div class="description" id="{{_id}}">
              <div class="description_title">Description</div>
              <div class="description_text">{{description}}</div>
            </div>
            <div class="members" id="{{_id}}">
              <div class="members_title">Members</div>
              <div class="members_text">{{members}}</div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="empty_info">
          <h5>Welcome to your Projects Page. Try creating a new project to get started.</h5>
          <button type="button" class="btn btn-lg btn-primary" id="/projects/create">Create Project</button>
        </div>
      {{/each}}
      {{/if}}
    </div>
    <br/>
    <br/>
    <!-- <p><a href="/">&laquo; Back</a></p> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/projects.js"></script>
  </body>
</html>
