<!DOCTYPE html>
<html>
  <head>
    <title>My Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/projects.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/todo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<!-- this is a comment in HTML -->
	<div class="container">
		
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-link">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">&laquo; Home</a>
        </div>

        <div class="collapse navbar-collapse" id="collapse-link">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/todos">My Todos</a></li>
            <li><a href="/projects">My Projects</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="projects">
      {{#each projects}}
        <a id="{{id}}" class="thumbnail project">
          <h3 class="project_title">{{name}}</h3>
          <div class="duedate_title">Due Date:</div><span class="duedate_text">{{dueDate}}</span><div id="{{id}}" class="detail-button">view project &raquo;</div>
          <div class="more_info" id="{{id}}">
            <div class="description" id="{{id}}">
              <div class="description_title">Description:</div>
              <div class="description_text">{{description}}</div>
             </div>
            
            <div class="collaborators" id="{{id}}">
              <div class="collaborators_title">Members:</div>
              <div class="collaborators_text">{{collaborators}}</div>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
    <p><a href="/">&laquo; Back</a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/projects.js"></script>
  </body>
</html>
