<!doctype html>
<!-- placeholder for project viewing page -->

<html>
<head>
	<title>HCI Project</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/agenda.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/projects.css" rel="stylesheet"> 
  <link href="/css/fonts.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.caom/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{>navbar}}

    <h3 class="page-header">
      {{pageName}}
      <!-- <a href="/projects/delete/{{id}}" class="header_edit">delete</a> -->
    </h3>
    <div>
        <a href="/project/edit/{{_id}}" class="header_edit">edit</a>
        <a href="/create/{{_id}}" class="header_edit">+task/meeting</a>
    </div>


    <br/>

    <span class="type-title">tasks</span>
<!--     <a id="task-box-button" class="collapse-button">collapse</a> -->
    <div id="task-box">
      {{#each tasks}}
      <div class="todo-card task" id="task{{_id}}">
        <span class="due_date">{{dueDate}}</span>
        <p class="task-name">{{name}}</p>
        <a class="detail-button">details &raquo;</a>
        <p class="progress_line no_margin" id="progress_line{{_id}}">{{progress}}% complete</p>
        <div id="detailtask{{_id}}" class="notes-field" style="display:none;">
          <span class="notes-title">notes</span>
          <p class="notes-text">{{notes}}</p>
          <span class="notes-title">checklist</span>
          <table class="subtask_table">
          {{#each subtasks}}
            <tr class="subtask_line" id="{{_id}}">
              {{#if done}}
                <td><input type="checkbox" id="checkbox{{_id}}" checked></td>
                <td id="subtask{{_id}}" style="text-decoration: line-through">{{name}}</td>
                <td class="subtask_duration">[{{duration}} hours]</td>
            </tr>
              {{else}}
                <td><input type="checkbox" id="checkbox{{_id}}"></td>
                <td id="subtask{{_id}}">{{name}}</td>
                <td class="subtask_duration">[{{duration}} hours]</td>
            </tr>
            <tr>
                <td></td>
                <td class="subtask_member">waiting on {{members}}</td>
            </tr>
              {{/if}}
          {{/each}}
          </table>
          <a class="link-button" id="/edit/task/{{project_id}}/{{_id}}">edit task</a>
        </div>
      </div>
      {{else}}
        <div class="empty_info">
          <h5>No tasks yet...try creating one!</h5>
          <button type="button" class="btn btn-lg btn-primary" id="/create/{{id}}">Create Task</button>
        </div>
      {{/each}}
    </div>

    <br>
    <span class="type-title">meetings</span>
<!--     <a id="meeting-box-button" class="collapse-button">collapse</a> -->
    <div id="meeting-box">
      {{#each meetings}}
      {{#unless complete}}
      <div class="todo-card meeting" id="meeting{{_id}}">
        <p class="task-name">{{name}}</p>
        <a class="detail-button">details &raquo;</a>
        <p class="duedate">{{datetime}}</p>
        <div id="detailmeeting{{_id}}" class="notes-field" style="display:none;">
          <span class="notes-title">notes</span>
          <p class="notes-text">{{notes}}</p>
          <span class="notes-title">attendees</span>
          <p class="notes-text">{{members}}</p>
          <a class="link-button" id="/edit/meeting/{{project_id}}/{{_id}}">edit</a>
        </div>
      </div>
      {{/unless}}
      {{else}}
        <div class="empty_info">
          <h5>No meetings yet...try creating one!</h5>
          <button type="button" class="btn btn-lg btn-primary" id="/create/{{id}}">Create Meeting</button>
        </div>
      {{/each}}
    </div>

    <br>
    <span class="type-title">completed</span>
    <a id="completed-box-button" class="collapse-button">hide</a>
    <div id="completed-box">
      {{#each completed_tasks}}
      <div class="todo-card completed" id="task{{_id}}">
        <span class="due_date">{{dueDate}}</span>
        <p class="task-name">{{name}}</p>
        <a class="detail-button">details &raquo;</a>
        <p class="progress_line no_margin" id="progress_line{{_id}}">{{progress}}% complete</p>
        <div id="detailtask{{_id}}" class="notes-field" style="display:none;">
          <span class="notes-title">notes</span>
          <p class="notes-text">{{notes}}</p>
          <span class="notes-title">subtasks</span>
          <table class="subtask_table">
          {{#each subtasks}}
            <tr class="subtask_line" id="{{_id}}">
              <td><input type="checkbox" id="checkbox{{_id}}" checked></td>
              <td id="subtask{{_id}}" style="text-decoration: line-through">{{name}}</td>    
              <td class="subtask_duration">[{{duration}} hours]</td>
            </tr>
          {{/each}}
          </table>
          <a class="link-button" id="/edit/task/{{project_id}}/{{_id}}">edit</a>
        </div>
      </div>
      {{/each}}

      {{#each meetings}}
      {{#if complete}}
      <div class="todo-card completed" id="meeting{{_id}}">
        <p class="task-name">{{name}}</p>
        <a class="detail-button">details &raquo;</a>
        <p class="duedate">{{datetime}}</p>
        <div id="detailmeeting{{_id}}" class="notes-field" style="display:none;">
          <span class="notes-title">notes</span>
          <p class="notes-text">{{notes}}</p>
          <span class="notes-title">attendees</span>
          <p class="notes-text">{{members}}</p>
          <a class="link-button" id="/edit/meeting/{{project_id}}/{{_id}}">edit</a>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>

    <br/>
    <!-- <a id="description-button" class="collapse-button">show</a> -->
    <span class="type-title">Project Info</span>
    <div id="project-description">
      <span class="notes-title">Description</span>
      <div class = "summary">{{description}}</div>
      <span class="notes-title">Members</span>
      <div class = "member">{{members}}</div>
    </div>
    
    <br/>
    <br/>

    {{#if task_id}}
    <div class="hidden_anchor" id="{{task_id}}"></div>
    {{/if}}
	</div>

	<!--<script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/projects.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48456936-2', 'cs147-complete.herokuapp.com');
      //ga('create', 'UA-48456936-2', {'cookieDomain':'none'});
      ga('send', 'pageview');

    </script>
</body>
</html>