<!doctype html>
<!-- placeholder for project viewing page -->

<html>
<head>
	<title>HCI Project</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/agenda.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/projects.css" rel="stylesheet"> 
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{>navbar}}

    <h3 class="page-header">
      {{name}}
      <!-- <a href="/projects/edit/{{id}}" class="header_edit">edit</a> -->
    </h3>


      <div class="todo-card task" id="task{{id}}">
        <span class="project-name">{{project}}</span>
        <p class="task-name">{{name}}</p>
        <span class="duedate">due by {{dueDate}}</span><a class="detail-button" id="{{project_id}}">View project &raquo;</a>
        <div id="detailtask{{id}}" class="notes-field">
          <span class="notes-title">notes</span>
          <p class="notes-text">{{notes}}</p>
          <span class="notes-title">checklist</span>
          <table class="subtask_table">
          {{#each subtasks}}
            <tr>
              {{#if done}}
                <td><input class="subtask_checkbox" type="checkbox" id="{{id}}" checked></td>
                <td id="subtask{{id}}" style="text-decoration: line-through">{{name}}</td>
              {{else}}
                <td><input class="subtask_checkbox" type="checkbox" id="{{id}}"></td>
                <td id="subtask{{id}}">{{name}}</td>
              {{/if}}
            </tr>
          {{/each}}
          </table>
        </div>
      </div>
   
    <br/>
    <br/>
	</div>

	<!--<script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/agenda.js"></script>
</body>
</html>