<!DOCTYPE html>
<html>
  <head>
    <title>My Todos</title>
    <!-- no zooming on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/todo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:65px;">
	<!-- this is a comment in HTML -->
	<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-link">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">&laquo; Home</a>
        </div>

        <div class="collapse navbar-collapse" id="collapse-link">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/todos">My Todos</a></li>
            <li><a href="/projects">My Projects</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{#each todos}}
    <div class="todo-card {{type}}">
      <span class="project-name">{{project}}</span><span class="type-name">{{type}}</span>
      <p class="task-name">{{name}}</p>
      <span class="duedate">due by {{dueDate}}</span><a id="{{type}}{{id}}" class="detail-button">details &raquo;</a>
      <div id="detail{{type}}{{id}}" class="notes-field" style="display:none;">
        <span class="notes-title">notes</span>
        <p class="notes-text">{{notes}}</p>
        <a href="project/{{projectId}}">View project</a>
      </div>
    </div>
    {{/each}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/todo.js"></script>
  </body>
</html>
